# =========================
# Dataset
# =========================

DATASET_PATH=./dataset


# =========================
# Database
# =========================

DATABASE_PATH=./storage/database.db


# =========================
# FAISS Vector Store
# =========================

FAISS_INDEX_PATH=./storage/faiss.index


# =========================
# Video Processing
# =========================

VIDEO_SAMPLE_INTERVAL=5


# =========================
# Search
# =========================

TOP_K=10


# =========================
# Ollama
# =========================

OLLAMA_URL=http://localhost:11434
VISION_MODEL=llava:7b
EMBEDDING_MODEL=nomic-embed-text