
# =========================
# Python
# =========================

venv/
.venv/
__pycache__/
*.py[cod]
*.pyc


# =========================
# Environment / Secrets
# =========================

.env


# =========================
# Database and Vector Index
# =========================

storage/
*.db
*.sqlite
*.sqlite3
*.index


# =========================
# Dataset
# =========================

dataset/


# =========================
# Streamlit
# =========================

.streamlit/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db
desktop.ini


# =========================
# Logs / Temporary Files
# =========================

*.log
*.tmp
*.temp